<div class="wrapper">
  @if (projectForm) {
    <form [formGroup]="projectForm">
      <app-project-form-fields [form]="projectForm" [showStatus]="false" />
      <div class="form-actions">
        <div class="form-actions-start">
          @if (isAdmin()) {
            <button
              type="button"
              class="button button-error delete-action"
              [class.icon-only]="iconOnlyActions()"
              (click)="deleteProject()"
              [disabled]="deleting() || archiving()"
              [attr.aria-label]="'projects.deleteProject' | translate"
              [title]="'projects.deleteProject' | translate"
            >
              <app-trash-icon [size]="20" />
              @if (!iconOnlyActions()) {
                <span class="action-label">{{ 'projects.deleteProject' | translate }}</span>
              }
            </button>
          }
          @if (isArchived()) {
            <button
              type="button"
              class="button button-secondary archive-action"
              (click)="toggleArchive(false)"
              [disabled]="archiving() || deleting()"
            >
              @if (archiving()) {
                <span class="spinner"></span>
                {{ 'common.loading' | translate }}
              } @else {
                {{ 'projects.unarchiveProject' | translate }}
              }
            </button>
          } @else {
            <button
              type="button"
              class="button button-secondary archive-action"
              (click)="toggleArchive(true)"
              [disabled]="archiving() || deleting()"
            >
              @if (archiving()) {
                <span class="spinner"></span>
                {{ 'common.loading' | translate }}
              } @else {
                {{ 'projects.archiveProject' | translate }}
              }
            </button>
          }
        </div>
        <div class="form-actions-end">
          <button
            type="button"
            class="button button-primary submit-action"
            [class.icon-only]="iconOnlyActions()"
            [disabled]="projectForm.invalid || deleting() || archiving()"
            (click)="submit()"
            [attr.aria-label]="'common.submit' | translate"
            [title]="'common.submit' | translate"
          >
            @if (iconOnlyActions()) {
              <app-icon [icon]="icons.check" [svgClass]="'submit-icon'" [strokeWidth]="2.5" />
            } @else {
              <span class="action-label">{{ 'common.submit' | translate }}</span>
            }
          </button>
        </div>
      </div>
    </form>
  }
</div>
