<div class="wrapper">
  @if (form) {
    <form [formGroup]="form">
      <div class="control">
        <label for="name">Name</label>
        <input placeholder="Name" type="name" id="name" formControlName="name" />
      </div>
      <div class="control">
        <label for="address">Address</label>
        <input placeholder="Address" type="address" id="address" formControlName="address" />
      </div>
      <div class="control buttons">
        <button type="button" [disabled]="form.invalid" (click)="Submit()">Submit</button>
      </div>
    </form>
  }
</div>
