<div>
  @if (form) {
    <form [formGroup]="form">
      <div formGroupName="user" class="control">
        <h2>{{ 'register.user' | translate }}</h2>
        <div class="control">
          <label for="name">{{ 'register.name' | translate }}</label>
          <input [placeholder]="'register.namePlaceholder' | translate" type="name" id="name" formControlName="name" />
        </div>
        <div class="control">
          <label for="email">{{ 'register.email' | translate }}</label>
          <input [placeholder]="'register.emailPlaceholder' | translate" type="email" id="email" formControlName="email" />
        </div>
        <div class="control">
          <label for="password">{{ 'register.password' | translate }}</label>
          <input [placeholder]="'register.passwordPlaceholder' | translate" type="password" id="password" formControlName="password" />
        </div>
        <div class="control">
          <label for="language">{{ 'register.language' | translate }}</label>
          <select formControlName="language" name="language" id="language">
            <option value="en">{{ 'languages.english' | translate }}</option>
            <option value="de">{{ 'languages.german' | translate }}</option>
            <option value="sk">{{ 'languages.slovak' | translate }}</option>
          </select>
        </div>
        <div formGroupName="addresses" class="control">
          <h3>{{ 'register.address' | translate }}</h3>

          <div class="control">
            <label for="street">{{ 'register.street' | translate }}</label>
            <input type="text" [placeholder]="'register.streetPlaceholder' | translate" id="street" formControlName="street" />
          </div>

          <div class="control">
            <label for="city">{{ 'register.city' | translate }}</label>
            <input type="text" [placeholder]="'register.cityPlaceholder' | translate" id="city" formControlName="city" />
          </div>

          <div class="control">
            <label for="country">{{ 'register.country' | translate }}</label>
            <input type="text" [placeholder]="'register.countryPlaceholder' | translate" id="country" formControlName="country" />
          </div>
        </div>
      </div>
      <div formGroupName="company" class="control">
        <h3>{{ 'register.company' | translate }}</h3>
        <div class="control">
          <label for="companyName">{{ 'register.companyName' | translate }}</label>
          <input type="text" [placeholder]="'register.companyNamePlaceholder' | translate" id="companyName" formControlName="name" />
        </div>
        <div class="control">
          <label for="companyAddress">{{ 'register.companyAddress' | translate }}</label>
          <input type="text" [placeholder]="'register.companyAddressPlaceholder' | translate" id="companyAddress" formControlName="address" />
        </div>
      </div>
      <div class="control buttons">
        <button type="button" [routerLink]="'/login'">{{ 'register.login' | translate }}</button>
        <button type="button" [disabled]="form.invalid" (click)="Submit()">{{ 'common.submit' | translate }}</button>
      </div>
    </form>
  }
</div>
