@if (isLoggedIn()) {
  <nav [class.mobile]="isMobile()">
    <div class="navbar-start">
      <a
        class="navbar-brand"
        routerLink="/dashboard"
        (click)="hideMobileMenu()"
        aria-label="SUSM"
      >
        <app-susm-logo />
      </a>
      <div class="mobile">
        <i class="hamburger-menu" (click)="toggleMobileMenu()">
          <app-icon [icon]="icons.hamburger" />
        </i>
      </div>
    </div>
    <div class="desktop">
      <ul>
        <li>
          <a class="nav-link" routerLink="/dashboard" (click)="hideMobileMenu()">
            {{ 'navbar.dashboard' | translate }}
          </a>
        </li>
        <li>
          <a class="nav-link" routerLink="/projects" (click)="hideMobileMenu()">
            {{ 'navbar.projects' | translate }}
          </a>
        </li>
        <li>
          <a class="nav-link" routerLink="/objects" (click)="hideMobileMenu()">
            {{ 'navbar.objects' | translate }}
          </a>
        </li>
        <li>
          <a class="nav-link" routerLink="/files" (click)="hideMobileMenu()">
            {{ 'navbar.files' | translate }}
          </a>
        </li>
        <li>
          <a class="nav-link" routerLink="/protocols" (click)="hideMobileMenu()">
            {{ 'navbar.protocols' | translate }}
          </a>
        </li>
      </ul>
    </div>
    <ul class="logout-menu">
      <li>
        <button type="button" class="nav-link nav-link--button" (click)="logout()">
          {{ 'navbar.logout' | translate }}
        </button>
      </li>
    </ul>
  </nav>
  <div class="mobile-menu-backdrop" [class.open]="toggledMenu()" (click)="hideMobileMenu()"></div>
  <div class="mobile-menu" [class.open]="toggledMenu()">
    <div class="mobile-menu-header">
      <a
        class="navbar-brand navbar-brand--menu"
        routerLink="/dashboard"
        (click)="hideMobileMenu()"
        aria-label="SUSM"
      >
        <app-susm-logo />
      </a>
      <i class="close" (click)="hideMobileMenu()">
        <app-icon [icon]="icons.closeFilled" />
      </i>
    </div>
    <ul class="mobile-menu-items">
      <li>
        <a class="nav-link" routerLink="/dashboard" (click)="hideMobileMenu()">
          {{ 'navbar.dashboard' | translate }}
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="/projects" (click)="hideMobileMenu()">
          {{ 'navbar.projects' | translate }}
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="/objects" (click)="hideMobileMenu()">
          {{ 'navbar.objects' | translate }}
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="/files" (click)="hideMobileMenu()">
          {{ 'navbar.files' | translate }}
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="/protocols" (click)="hideMobileMenu()">
          {{ 'navbar.protocols' | translate }}
        </a>
      </li>
      <li class="logout-item">
        <button type="button" class="nav-link nav-link--button" (click)="hideMobileMenu(); logout()">
          {{ 'navbar.logout' | translate }}
        </button>
      </li>
    </ul>
  </div>
} @else {
  <nav>
    <a class="navbar-brand" routerLink="/login" aria-label="SUSM">
      <app-susm-logo />
    </a>
    @if (!isLoginPage()) {
      <ul>
        <li>
          <a class="nav-link" routerLink="/login">{{ 'navbar.login' | translate }}</a>
        </li>
      </ul>
    }
  </nav>
}
