<div class="notification-container">
  @for (notification of notifications(); track notification.id) {
    <div
      class="notification"
      [class]="'notification--' + notification.type"
      [attr.data-type]="notification.type"
    >
      <div class="notification__icon">{{ getNotificationIcon(notification.type) }}</div>
      <div class="notification__content">
        <p class="notification__message">{{ notification.message }}</p>
      </div>
      <button
        type="button"
        class="notification__close"
        (click)="removeNotification(notification.id)"
        [attr.aria-label]="'Close notification'"
      >
        <app-icon [icon]="icons.close" />
      </button>
    </div>
  }
</div>

