<div class="wrapper">
  @if (form) {
    <form [formGroup]="form">
      <app-object-form-fields [form]="form" />
      <div class="form-actions">
        @if (isAdmin()) {
          <button
            type="button"
            class="button button-error delete-action"
            [class.icon-only]="iconOnlyActions()"
            (click)="deleteObject()"
            [disabled]="deleting() || progressing()"
            [attr.aria-label]="'objects.deleteObject' | translate"
            [title]="'objects.deleteObject' | translate"
          >
            <app-trash-icon [size]="20" />
            @if (!iconOnlyActions()) {
              <span class="action-label">{{ 'objects.deleteObject' | translate }}</span>
            }
          </button>
        }
        <button
          type="button"
          class="button button-primary submit-action"
          [class.icon-only]="iconOnlyActions()"
          [disabled]="form.invalid || progressing() || deleting()"
          (click)="submit()"
          [attr.aria-label]="'common.submit' | translate"
          [title]="'common.submit' | translate"
        >
          @if (iconOnlyActions()) {
            <app-icon [icon]="icons.check" [svgClass]="'submit-icon'" [strokeWidth]="2.5" />
          } @else {
            <span class="action-label">{{ 'common.submit' | translate }}</span>
          }
        </button>
      </div>
    </form>
  }
</div>
