<div class="wrapper">
  @if (form) {
    <form [formGroup]="form">
      <div class="control">
        <label for="name">{{ 'projects.name' | translate }}</label>
        <input placeholder="Name" type="name" id="name" formControlName="name" />
      </div>
      <div class="control" formGroupName="address">
        <h4>{{ 'projects.address' | translate }}</h4>
        <div class="control">
          <label for="postal_code">{{ 'projects.postalCode' | translate }}</label>
          <input placeholder="{{ 'projects.postalCode' | translate }}" type="postal_code" id="postal_code" formControlName="postal_code" />
        </div>
        <div class="control">
          <label for="street">{{ 'projects.street' | translate }}</label>
          <input placeholder="street" type="street" id="street" formControlName="street" />
        </div>
        <div class="control">
          <label for="house_number">{{ 'projects.houseNumber' | translate }}</label>
          <input
            placeholder="house number"
            type="house_number"
            id="house_number"
            formControlName="house_number"
          />
        </div>
        <div class="control">
          <label for="level">{{ 'projects.level' | translate }}</label>
          <input placeholder="e.g. 3 or 3rd" type="level" id="level" formControlName="level" />
        </div>
        <div class="control">
          <label for="door_number">{{ 'projects.doorNumber' | translate }}</label>
          <input
            placeholder="door or flat number"
            type="door_number"
            id="door_number"
            formControlName="door_number"
          />
        </div>
      </div>
      <div class="control">
        <label for="note">{{ 'projects.note' | translate }}</label>
        <input placeholder="Note" type="note" id="note" formControlName="note" />
      </div>
      <div class="control">
        <label for="status">{{ 'projects.status' | translate }}</label>
        <select id="status" formControlName="status">
          @for (status of statuses; track status) {
            <option [value]="status">{{ statusLabel(status) | translate }}</option>
          }
        </select>
      </div>
      <div class="control buttons">
        <button
          type="button"
          class="button button-success"
          [disabled]="form.invalid || progressing()"
          (click)="Submit()"
        >
          {{ 'common.submit' | translate }}
        </button>
      </div>
    </form>
  }
</div>
