.card-wrapper {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: var(--space);
  padding: var(--space);
  max-height: calc(100% - 72px);
  overflow: auto;
  align-items: self-start;
}

@media screen and (max-width: var(--mobile-breakpoint)) {
  .card-wrapper {
    display: block;
    width: 100%;
  }
  app-file-list {
    width: 100%;
  }
}

.card {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  padding: var(--space);
  border-radius: 6px;
  border: 1px solid var(--default-color);
  text-align: center;
  line-height: 1.2;
  transition: box-shadow 0.3s ease-in-out;
  max-height: 250px;

  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &:hover {
    box-shadow: 0 0 10px var(--default-color-dark);
  }
}

.icon {
  z-index: 5;
  background-color: var(--default-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.icon svg {
  fill: white;
}