.control {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    font-size: var(--font-4);
    font-weight: bold;
  }

  input,
  select {
    padding: var(--space-small) var(--space);
    border: 1px solid var(--button);
  }
}

.buttons {
  margin-top: var(--space);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  &:has(button:nth-child(2)) {
    justify-content: space-between;
  }
}

.content-wrapper {
  display: flex;
  max-height: calc(100dvh - (35px + 74px + 32px + 72px + 16px + 16px));
  > * {
    flex: 1 1 0;
    width: 0;
  }
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--space);
}

@media screen and (max-width: 768px) {
  .content-wrapper.content-wrapper {
    display: block;
  }
  .content-wrapper.content-wrapper > * {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .content-wrapper {
    display: block;
  }

  .card-wrapper,
  app-file-list {
    width: 100%;
  }

  .card-wrapper.card-wrapper {
    grid-template-columns: 1fr;
  }
}

input[type='file'] {
  display: none;
}
