ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

li {
  margin: 0 var(--space-small);
  font-size: var(--font-3);
  white-space: nowrap;
  display: flex;
  align-items: center;
}
