<header class="page-header">
  <div class="page-header-text">
    <div class="page-title-row">
      @if (balanceActions()) {
        <span class="page-header-action page-header-action--spacer" aria-hidden="true"></span>
      } @else {
        <div class="page-header-leading">
          <ng-content select="[pageHeaderLeading]" />
        </div>
      }
      <h1>{{ title() }}</h1>
      @if (balanceLeading()) {
        <span class="page-header-action page-header-action--spacer" aria-hidden="true"></span>
      } @else {
        <div class="page-header-action">
          <ng-content select="[pageHeaderAction]" />
        </div>
      }
    </div>
    <ng-content select="[pageHeaderSubtitle]" />
  </div>
</header>
