<div class="header-wrapper">
  <h1>{{ 'projects.title' | translate }}</h1>
</div>
<button type="button" class="button button-secondary archive-toggle" (click)="toggleArchived()">
  @if (showArchived()) {
    {{ 'projects.hideArchived' | translate }}
  } @else {
    {{ 'projects.showArchived' | translate }}
  }
</button>
<div class="projects-wrapper">
  @if (projects().length) {
    <div class="card-wrapper">
      @for (project of projects(); track project['_id']) {
        <div class="card" [routerLink]="'tab/' + project._id?.$oid">
          <span class="space-between">
            <app-status-pill [status]="project?.status || defaultStatus" />
            @if (project.archived_at) {
              <span class="archived-pill">
                {{ 'projects.archived' | translate }}
              </span>
            }
          </span>
          <h2 class="headline">{{ project.name }}</h2>
          <div class="content">
            <ul class="data-list">
              @if (project.address?.street) {
                <li>{{ project.address?.street }}</li>
              }
              @if (project.address?.postal_code) {
                <li>{{ project.address?.postal_code }}</li>
              }
              @if (project.note) {
                <li>{{ project.note }}</li>
              }
            </ul>
            @if (project?.created_at) {
              <div class="created-at">{{ project.created_at | date: 'dd.MM.yyyy' }}</div>
            }
            @if (project.archive_comment) {
              <div class="archive-comment-preview">
                <strong>{{ 'projects.archiveComment' | translate }}:</strong>
                {{ project.archive_comment }}
              </div>
            }
          </div>
        </div>
      }
    </div>
  } @else {
    {{ 'projects.noProjects' | translate }}
  }
  <button
    type="button"
    class="add-icon floating-icon"
    (click)="newProject()"
    [tabIndex]="2"
    [attr.aria-label]="'objects.add' | translate"
  >
    <i class="add" role="button">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <path
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 5v14m-7-7h14"
        />
      </svg>
    </i>
  </button>
</div>
