<div class="wrapper">
    <h1>{{ 'objects.title' | translate }}</h1>
    <app-filter [filter]="filterData()" (filterChange)="onFilterChange($event)"></app-filter>
    <div class="card-wrapper">
        @for (item of filteredObjects(); track item.object?._id?.$oid ?? item.project_name) {
            @if (item.object; as objectItem) {
                @let objectId = objectItem._id?.$oid;
                <div
                    class="card"
                    [routerLink]="objectId ? '/objects/tab/' + objectId : null"
                >
                    <app-status-pill [status]="objectItem?.status || 'created'" />
                    <div class="project-name">{{ item.project_name }}</div>
                    <h2 class="headline">{{ objectItem.address.street }} 
                        {{ objectItem.address.house_number }} 
                        {{ objectItem.address.house_number && objectItem.address.door_number ? '/' : null }}
                        {{ objectItem.address.door_number }}</h2>
                    @if(objectItem.note) {
                        <p class="note">{{ objectItem.note }}</p>
                    }
                    @if(objectItem.category) {
                        <div class="category">{{ objectItem.category }}</div>
                    }
                    <div class="created-at">{{ objectItem.created_at | date: 'dd.MM.yyyy HH:mm' }}</div>
                </div>
            }
        }
    </div>
</div>
