<div class="wrapper">
  <app-page-header [title]="'objects.title' | translate" />
  <app-filter
    [filter]="filterData()"
    [initialState]="restoredFilterState()"
    (filterChange)="onFilterChange($event)"
    (filtersVisibleChange)="onFiltersVisibleChange($event)"
  ></app-filter>

  @if (filteredObjects().length > 0) {
    <app-virtual-scroll-viewport
      class="objects-list-viewport"
      [items]="filteredObjects()"
      [itemSize]="objectCardItemSize"
      [threshold]="virtualScrollThreshold"
      [trackBy]="trackObjectItemById"
      [maxHeight]="'min(65dvh, 720px)'"
      [ariaLabel]="'objects.title' | translate"
    >
      <ng-template let-item>
        @if (item.object; as objectItem) {
          @let objectId = objectItem._id?.$oid;
          <app-object-card
            [object]="objectItem"
            [projectName]="item.project_name"
            [routerLink]="objectId ? '/objects/tab/' + objectId : null"
            [showStatus]="true"
            [includePostalCode]="true"
            dateFormat="datetime"
          />
        }
      </ng-template>
    </app-virtual-scroll-viewport>
  } @else {
    <p class="empty-state">{{ 'protocols.noObjectsAvailable' | translate }}</p>
  }
</div>
