<div class="wrapper">
    <h1>{{ 'objects.title' | translate }}</h1>
    <div class="card-wrapper">
        @for (item of objectsWithProjects(); track item.object?._id?.$oid ?? item.project_name) {
            @if (item.object; as objectItem) {
                @let objectId = objectItem._id?.$oid;
                <div
                    class="card"
                    [routerLink]="objectId ? '/objects/tab/' + objectId : null"
                >
                    <span class="status-pill" [attr.data-status]="objectItem.status || defaultStatus">
                        {{ formatStatus(objectItem.status) }}
                    </span>
                    <div class="project-name">{{ item.project_name }}</div>
                    <h2 class="headline">{{ objectItem.address.street }}</h2>
                    @if(objectItem.note) {
                        <p class="note">{{ objectItem.note }}</p>
                    }
                    @if(objectItem.category) {
                        <div class="category">{{ objectItem.category }}</div>
                    }
                </div>
            }
        }
    </div>
</div>
