:host {
  display: block;
}

.wrapper {
  padding: 0 var(--space);
  width: 100%;
  height: 100%;
}

.add-icon {
  position: absolute;
  border-radius: 50%;
  background-color: var(--default-color);
  width: 80px;
  bottom: 0;
  right: 0;
  margin: var(--space);
  padding: var(--space);
  cursor: pointer;

  i {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
  }
}
