<div>
  @if (form) {
    <form [formGroup]="form" (ngSubmit)="Submit()">
      <h2>{{ 'login.title' | translate }}</h2>
      @if (error()) {
        <p class="login-error">{{ error() }}</p>
      }
      <div class="control">
        <label for="email">{{ 'login.email' | translate }}</label>
        <input
          [placeholder]="'login.emailPlaceholder' | translate"
          type="email"
          id="email"
          [formControl]="getEmailControl()"
        />
      </div>
      <div class="control">
        <label for="password">{{ 'login.password' | translate }}</label>
        <input
          [placeholder]="'login.passwordPlaceholder' | translate"
          type="password"
          id="password"
          [formControl]="getPasswordControl()"
        />
      </div>
      <div class="control buttons">
        <button
          type="submit"
          class="button button-primary"
          [disabled]="form.invalid"
        >
          {{ 'common.submit' | translate }}
        </button>
      </div>
    </form>
  }
</div>
