@use './styles/form' as *;
@use './styles/cards' as *;
@use './styles/buttons' as *;
@use './styles/headlines' as *;
@use './styles/floating' as *;

:root {
  --space-tiny: 4px;
  --space-small: 8px;
  --space: 16px;
  --space-large: 24px;
  --space-xlarge: 32px;
  --font-1: 21px;
  --font-2: 18px;
  --font-3: 16px;
  --font-4: 14px;
  --font-5: 11px;
  --default-color: #0b6357;
  --default-color-dark: #00120f;
  --button: #0b6357;
  --button-hover: #138172;
  --mobile-breakpoint: 768px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
